<app-navbar></app-navbar>

<div class="container " style="text-align: center;">
    <ngb-carousel> 
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper d-block w-100">
				<img src="../../../assets/img/Sala-de-espera-RM.webp" alt="Random first slide" />
			</div>
			<div class="carousel-caption">
				<h3>First slide label</h3>
				<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper d-block w-100">
				<img src="../../../assets/img/Sala-de-esperas-2.webp" alt="Random second slide" />
			</div>
			<div class="carousel-caption">
				<h3>Second slide label</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper d-block w-100">
				<img src="../../../assets/img/Sala-de-espera-3.webp" alt="Random third slide" />
			</div>
			<div class="carousel-caption">
				<h3>Third slide label</h3>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
			</div>
		</ng-template>
	</ngb-carousel>
</div>